/* DOM elements */
* {
	font-size: 13px;
	font-family: Lucida Grande, Abadi MT, Arial, Sans-Serif;
}
.navbar {
	height: 30px;
}
.navbar-collapse {
    display: block!important;
}

body {
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	background-color: #65737E;
}